<div class="d-flex justify-content-between my-3">
    <h2 class="text-center">My Todos List</h2>
    <button class="btn btn-primary rounded-pill">+ Add New Todo</button>
</div>

<div class="container">
    <div class="container">
        <app-add-todos (addTodo)="addNewTodo($event)"></app-add-todos>
    </div>
    <div>{{this.todos.length}}</div>
    <div *ngIf="this.todos.length === 0; else elseBloc">No todos to display</div>
    
    <ng-template #elseBloc>
        <h4 class="text-center">Your todos</h4>
        <div *ngFor="let todo of todos; index as i" class="container">
            <div *ngIf="!todo.active; else elseBlock">
                <!-- <app-completed-todos [todo]="todo" [i]="i" (deleteTodo)="deleteTodo($event)" ></app-completed-todos> -->
            </div>
            <ng-template #elseBlock>
                <app-todo-item [todo]='todo' [i]='i' (todoDelete)="deleteTodo($event)" (todoComplete)="completeTodo($event)"></app-todo-item>
            </ng-template>
        </div>
    </ng-template>
</div>
