<!-- Apply some inline style here
fix div's max-width to 600px -->
<div class="mx-auto" style="max-width: 600px;">
    <div class="d-flex justify-content-between">
        <h4 >{{i+1 + " " + todo.title}}</h4>
        <div class="buttons">
            <button class="btn btn-sm btn-primary" >Details</button>
            <button class="btn btn-sm btn-success mx-2" (click)="onComplete(todo)">Complete</button>
            <button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
        </div>
    </div>
    <p>{{todo.desc}}</p>
    <hr>
</div>